*, *::after, *::before {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
}

footer {
	margin: 20px 0;
	padding: 0 16px;
	text-align: center;
}

footer .copyright, .author {
	color: rgba(0, 0, 0, .6);
	font-size: 0.9em;

	line-height: 1.8;
}

footer .copyright span {
	color: #ff7676;
}

footer .author a {
	color: #ff7676;
	text-decoration: none;
}

footer .author a:hover {
	color: #000;
}